<a href="https://colab.research.google.com/github/JesusTafoya/JesusTafoya98/blob/master/AnalisisDeDatos(col_11_16_clean2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

from google.colab import drive
drive.mount ('/gdrive')

In [0]:
import numpy as np

In [0]:
import pandas as pd
# test comment

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
link = 'https://drive.google.com/open?id=1x7k16EbJz5H9B8zcm7Er1yPw6voYH7X6'

fluff, id = link.split('=')

print (id)






downloaded = drive.CreateFile({'id':id})

downloaded.GetContentFile('col_11-16.clean2.csv')

df_col = pd.read_csv('col_11-16.clean2.csv')

1x7k16EbJz5H9B8zcm7Er1yPw6voYH7X6

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [44]:
$ git clone https://hostname/username/repo.git
username: JesusTafoya

SyntaxError: ignored

In [5]:
df_col.head()

             Timestamp  co2  temp  rh  ...  trans  photo      rad   gh
0  2011-03-22 00:00:00  NaN   NaN NaN  ...    NaN    NaN -0.41664  col
1  2011-03-22 00:05:00  NaN   NaN NaN  ...    NaN    NaN -1.01184  col
2  2011-03-22 00:10:00  NaN   NaN NaN  ...    NaN    NaN -0.71424  col
3  2011-03-22 00:15:00  NaN   NaN NaN  ...    NaN    NaN -0.59520  col
4  2011-03-22 00:20:00  NaN   NaN NaN  ...    NaN    NaN -0.71424  col

[5 rows x 10 columns]

In [6]:
dict_col=df_col
df_col = pd.DataFrame(dict_col)
df_col.dropna()

                  Timestamp         co2       temp  ...     photo        rad   gh
94      2011-03-22 07:50:00  517.972031  19.650584  ...  0.960795  146.65730  col
95      2011-03-22 07:55:00  506.058380  19.634246  ...  1.465822  116.65920  col
96      2011-03-22 08:00:00  505.214219  19.724803  ...  2.024982  125.40860  col
97      2011-03-22 08:05:00  503.735747  19.709883  ...  2.620724  129.63460  col
98      2011-03-22 08:10:00  499.127428  19.760988  ...  3.267603  122.78980  col
...                     ...         ...        ...  ...       ...        ...  ...
594716  2016-11-14 23:40:00  663.296935  16.505255  ...  0.081958   -3.80928  col
594717  2016-11-14 23:45:00  655.351382  16.505255  ... -0.094633   -1.48800  col
594718  2016-11-14 23:50:00  657.139904  16.505255  ... -0.176018   -3.51168  col
594719  2016-11-14 23:55:00  656.343810  16.585229  ... -0.147956   -3.15456  col
594720  2016-11-15 00:00:00  656.742006  16.590224  ... -0.147457   -1.19040  col

[426210 rows x 10 columns]

In [7]:
pd.DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
df_col.index

RangeIndex(start=0, stop=608256, step=1)

In [0]:
df_col.index = pd.DatetimeIndex( df_col['Timestamp'])

In [0]:
df_col.index=pd.DatetimeIndex( df_col[ 'Timestamp'], yearfirst=True)

In [0]:
SMar11_col = pd.Timestamp('2011-03-22, 07:50:00') 
EMar11_col = pd.Timestamp('2011-03-31, 23:55:00')

In [12]:
condition_SMar11_col = df_col.index > SMar11_col 
condition_EMar11_col = df_col.index < EMar11_col

df_col[ condition_SMar11_col & condition_EMar11_col]

                               Timestamp         co2  ...        rad   gh
Timestamp                                             ...
2011-03-22 07:55:00  2011-03-22 07:55:00  506.058380  ...  116.65920  col
2011-03-22 08:00:00  2011-03-22 08:00:00  505.214219  ...  125.40860  col
2011-03-22 08:05:00  2011-03-22 08:05:00  503.735747  ...  129.63460  col
2011-03-22 08:10:00  2011-03-22 08:10:00  499.127428  ...  122.78980  col
2011-03-22 08:15:00  2011-03-22 08:15:00  492.521812  ...  157.48990  col
...                                  ...         ...  ...        ...  ...
2011-03-31 23:30:00  2011-03-31 23:30:00         NaN  ...   -0.29760  col
2011-03-31 23:35:00  2011-03-31 23:35:00         NaN  ...   -0.41664  col
2011-03-31 23:40:00  2011-03-31 23:40:00         NaN  ...   -0.41664  col
2011-03-31 23:45:00  2011-03-31 23:45:00         NaN  ...   -0.29760  col
2011-03-31 23:50:00  2011-03-31 23:50:00         NaN  ...   -0.11904  col

[2784 rows x 10 columns]

In [13]:
df_col[100:113]

                               Timestamp         co2  ...       rad   gh
Timestamp                                             ...
2011-03-22 08:20:00  2011-03-22 08:20:00  487.514996  ...  185.9405  col
2011-03-22 08:25:00  2011-03-22 08:25:00  483.898385  ...  195.8803  col
2011-03-22 08:30:00  2011-03-22 08:30:00  484.370797  ...  268.3757  col
2011-03-22 08:35:00  2011-03-22 08:35:00  472.686242  ...  261.9475  col
2011-03-22 08:40:00  2011-03-22 08:40:00  469.549015  ...  305.8733  col
2011-03-22 08:45:00  2011-03-22 08:45:00  465.769056  ...  291.7670  col
2011-03-22 08:50:00  2011-03-22 08:50:00  456.862753  ...  323.4317  col
2011-03-22 08:55:00  2011-03-22 08:55:00  448.269157  ...  345.6326  col
2011-03-22 09:00:00  2011-03-22 09:00:00  444.963630  ...  354.0250  col
2011-03-22 09:05:00  2011-03-22 09:05:00  435.990582  ...  378.1901  col
2011-03-22 09:10:00  2011-03-22 09:10:00  431.086740  ...  364.8576  col
2011-03-22 09:15:00  2011-03-22 09:15:00  421.687579  ...  369.0240  col
2011-03-22 09:20:00  2011-03-22 09:20:00  414.163772  ...  412.8902  col

[13 rows x 10 columns]

In [14]:
dict=df_col
df = pd.DataFrame(dict)
df.dropna()

                               Timestamp         co2  ...        rad   gh
Timestamp                                             ...
2011-03-22 07:50:00  2011-03-22 07:50:00  517.972031  ...  146.65730  col
2011-03-22 07:55:00  2011-03-22 07:55:00  506.058380  ...  116.65920  col
2011-03-22 08:00:00  2011-03-22 08:00:00  505.214219  ...  125.40860  col
2011-03-22 08:05:00  2011-03-22 08:05:00  503.735747  ...  129.63460  col
2011-03-22 08:10:00  2011-03-22 08:10:00  499.127428  ...  122.78980  col
...                                  ...         ...  ...        ...  ...
2016-11-14 23:40:00  2016-11-14 23:40:00  663.296935  ...   -3.80928  col
2016-11-14 23:45:00  2016-11-14 23:45:00  655.351382  ...   -1.48800  col
2016-11-14 23:50:00  2016-11-14 23:50:00  657.139904  ...   -3.51168  col
2016-11-14 23:55:00  2016-11-14 23:55:00  656.343810  ...   -3.15456  col
2016-11-15 00:00:00  2016-11-15 00:00:00  656.742006  ...   -1.19040  col

[426210 rows x 10 columns]

Código para la eliminación de filas donde no exite algún dato en los sensores.

In [15]:
df_col.dropna().index

DatetimeIndex(['2011-03-22 07:50:00', '2011-03-22 07:55:00',
               '2011-03-22 08:00:00', '2011-03-22 08:05:00',
               '2011-03-22 08:10:00', '2011-03-22 08:15:00',
               '2011-03-22 08:20:00', '2011-03-22 08:25:00',
               '2011-03-22 08:30:00', '2011-03-22 08:35:00',
               ...
               '2016-11-14 23:15:00', '2016-11-14 23:20:00',
               '2016-11-14 23:25:00', '2016-11-14 23:30:00',
               '2016-11-14 23:35:00', '2016-11-14 23:40:00',
               '2016-11-14 23:45:00', '2016-11-14 23:50:00',
               '2016-11-14 23:55:00', '2016-11-15 00:00:00'],
              dtype='datetime64[ns]', name='Timestamp', length=426210, freq=None)

In [16]:
df_col.index1 = pd.DatetimeIndex( df_col.dropna()['Timestamp'], yearfirst=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [0]:
SMar11_col = pd.Timestamp('2011-02-28, 23:59:00') 
EMar11_col = pd.Timestamp('2011-03-31, 23:59:00')

In [18]:
condition_SMar11_col = df_col.index1 > SMar11_col 
condition_EMar11_col = df_col.index1 < EMar11_col

Mar11_col = df_col.dropna()[ condition_SMar11_col & condition_EMar11_col]
Mar11_col

                               Timestamp         co2  ...        rad   gh
Timestamp                                             ...
2011-03-22 07:50:00  2011-03-22 07:50:00  517.972031  ...  146.65730  col
2011-03-22 07:55:00  2011-03-22 07:55:00  506.058380  ...  116.65920  col
2011-03-22 08:00:00  2011-03-22 08:00:00  505.214219  ...  125.40860  col
2011-03-22 08:05:00  2011-03-22 08:05:00  503.735747  ...  129.63460  col
2011-03-22 08:10:00  2011-03-22 08:10:00  499.127428  ...  122.78980  col
...                                  ...         ...  ...        ...  ...
2011-03-31 19:55:00  2011-03-31 19:55:00  695.199293  ...   -2.85696  col
2011-03-31 20:00:00  2011-03-31 20:00:00  695.082563  ...   -1.36896  col
2011-03-31 20:05:00  2011-03-31 20:05:00  694.965833  ...   -0.59520  col
2011-03-31 20:10:00  2011-03-31 20:10:00  694.849103  ...   -0.41664  col
2011-03-31 20:15:00  2011-03-31 20:15:00  694.732373  ...   -0.29760  col

[2527 rows x 10 columns]

In [19]:
SApr11_col = pd.Timestamp('2011-03-31, 23:59:00')
EApr11_col = pd.Timestamp('2011-04-30, 23:59:00')

condition_SApr11_col = df_col.index1 > SApr11_col
condition_EApr11_col = df_col.index1 < EApr11_col

Apr11_col = df_col.dropna()[ condition_SApr11_col & condition_EApr11_col]
Apr11_col

                               Timestamp         co2  ...        rad   gh
Timestamp                                             ...
2011-04-01 07:40:00  2011-04-01 07:40:00  678.740365  ...   96.48192  col
2011-04-01 07:45:00  2011-04-01 07:45:00  678.623635  ...  101.54110  col
2011-04-01 07:50:00  2011-04-01 07:50:00  678.506905  ...   73.38816  col
2011-04-01 07:55:00  2011-04-01 07:55:00  678.390175  ...  122.90880  col
2011-04-01 08:00:00  2011-04-01 08:00:00  678.273445  ...   48.27072  col
...                                  ...         ...  ...        ...  ...
2011-04-30 23:35:00  2011-04-30 23:35:00  614.649414  ...   -2.55936  col
2011-04-30 23:40:00  2011-04-30 23:40:00  613.525136  ...   -2.26176  col
2011-04-30 23:45:00  2011-04-30 23:45:00  614.160603  ...   -1.96416  col
2011-04-30 23:50:00  2011-04-30 23:50:00  609.458482  ...   -2.26176  col
2011-04-30 23:55:00  2011-04-30 23:55:00  607.613783  ...   -2.55936  col

[8443 rows x 10 columns]

In [20]:
SMay11_col = pd.Timestamp('2011-04-30, 23:59:00')
EMay11_col = pd.Timestamp('2011-05-31, 23:59:00')

condition_SMay11_col = df_col.index1 > SMay11_col
condition_EMay11_col = df_col.index1 < EMay11_col

May11_col = df_col.dropna()[ condition_SMay11_col & condition_EMay11_col]
May11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-05-01 00:00:00  2011-05-01 00:00:00  606.290269  ... -2.73792  col
2011-05-01 00:05:00  2011-05-01 00:05:00  604.966755  ... -2.08320  col
2011-05-01 00:10:00  2011-05-01 00:10:00  601.540988  ... -2.85696  col
2011-05-01 00:15:00  2011-05-01 00:15:00  599.109984  ... -2.55936  col
2011-05-01 00:20:00  2011-05-01 00:20:00  596.903867  ... -2.55936  col
...                                  ...         ...  ...      ...  ...
2011-05-31 23:35:00  2011-05-31 23:35:00  405.432366  ... -0.11904  col
2011-05-31 23:40:00  2011-05-31 23:40:00  406.903695  ... -0.11904  col
2011-05-31 23:45:00  2011-05-31 23:45:00  409.660417  ... -0.29760  col
2011-05-31 23:50:00  2011-05-31 23:50:00  409.350374  ... -0.29760  col
2011-05-31 23:55:00  2011-05-31 23:55:00  402.776590  ... -0.11904  col

[8871 rows x 10 columns]

In [21]:
SJun11_col = pd.Timestamp('2011-05-31, 23:59:00')
EJun11_col = pd.Timestamp('2011-06-30, 23:59:00')

condition_SJun11_col = df_col.index1 > SJun11_col
condition_EJun11_col = df_col.index1 < EJun11_col

Jun11_col = df_col.dropna()[ condition_SJun11_col & condition_EJun11_col]
Jun11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-06-01 00:00:00  2011-06-01 00:00:00  402.076280  ... -0.11904  col
2011-06-01 00:05:00  2011-06-01 00:05:00  401.375970  ...  0.00000  col
2011-06-01 00:10:00  2011-06-01 00:10:00  399.335635  ... -0.11904  col
2011-06-01 00:15:00  2011-06-01 00:15:00  398.737539  ... -0.11904  col
2011-06-01 00:20:00  2011-06-01 00:20:00  401.424163  ... -0.29760  col
...                                  ...         ...  ...      ...  ...
2011-06-30 23:35:00  2011-06-30 23:35:00  689.050140  ... -1.48800  col
2011-06-30 23:40:00  2011-06-30 23:40:00  691.035389  ... -1.36896  col
2011-06-30 23:45:00  2011-06-30 23:45:00  692.158189  ... -1.78560  col
2011-06-30 23:50:00  2011-06-30 23:50:00  694.883206  ... -1.01184  col
2011-06-30 23:55:00  2011-06-30 23:55:00  686.715011  ... -1.66656  col

[8578 rows x 10 columns]

In [22]:
SJul11_col = pd.Timestamp('2011-06-30, 23:59:00')
EJul11_col = pd.Timestamp('2011-07-31, 23:59:00')

condition_SJul11_col = df_col.index1 > SJul11_col
condition_EJul11_col = df_col.index1 < EJul11_col

Jul11_col = df_col.dropna()[ condition_SJul11_col & condition_EJul11_col]
Jul11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-07-01 00:00:00  2011-07-01 00:00:00  684.893025  ... -1.66656  col
2011-07-01 00:05:00  2011-07-01 00:05:00  683.071038  ... -1.48800  col
2011-07-01 00:10:00  2011-07-01 00:10:00  682.201877  ... -1.66656  col
2011-07-01 00:15:00  2011-07-01 00:15:00  684.107449  ... -1.66656  col
2011-07-01 00:20:00  2011-07-01 00:20:00  694.852938  ... -1.48800  col
...                                  ...         ...  ...      ...  ...
2011-07-31 23:35:00  2011-07-31 23:35:00  402.560877  ...  0.11904  col
2011-07-31 23:40:00  2011-07-31 23:40:00  401.474609  ...  0.11904  col
2011-07-31 23:45:00  2011-07-31 23:45:00  397.731897  ...  0.29760  col
2011-07-31 23:50:00  2011-07-31 23:50:00  401.109933  ...  0.11904  col
2011-07-31 23:55:00  2011-07-31 23:55:00  400.013864  ...  0.11904  col

[8784 rows x 10 columns]

In [23]:
SAug11_col = pd.Timestamp('2011-07-31, 23:59:00')
EAug11_col = pd.Timestamp('2011-08-31, 23:59:00')

condition_SAug11_col = df_col.index1 > SAug11_col
condition_EAug11_col = df_col.index1 < EAug11_col

Aug11_col = df_col.dropna()[ condition_SAug11_col & condition_EAug11_col]
Aug11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-08-01 00:00:00  2011-08-01 00:00:00  399.167391  ...  0.29760  col
2011-08-01 00:05:00  2011-08-01 00:05:00  398.320918  ...  0.11904  col
2011-08-01 00:10:00  2011-08-01 00:10:00  399.652018  ...  0.11904  col
2011-08-01 00:15:00  2011-08-01 00:15:00  397.035294  ...  0.11904  col
2011-08-01 00:20:00  2011-08-01 00:20:00  400.464871  ...  0.11904  col
...                                  ...         ...  ...      ...  ...
2011-08-31 23:35:00  2011-08-31 23:35:00  654.471687  ... -1.19040  col
2011-08-31 23:40:00  2011-08-31 23:40:00  647.822473  ... -1.48800  col
2011-08-31 23:45:00  2011-08-31 23:45:00  644.327017  ... -1.36896  col
2011-08-31 23:50:00  2011-08-31 23:50:00  640.315792  ... -1.48800  col
2011-08-31 23:55:00  2011-08-31 23:55:00  636.491853  ... -1.19040  col

[8570 rows x 10 columns]

In [24]:
SSep11_col = pd.Timestamp('2011-08-31, 23:59:00')
ESep11_col = pd.Timestamp('2011-09-30, 23:59:00')

condition_SSep11_col = df_col.index1 > SSep11_col
condition_ESep11_col = df_col.index1 < ESep11_col

Sep11_col = df_col.dropna()[ condition_SSep11_col & condition_ESep11_col]
Sep11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-09-01 00:00:00  2011-09-01 00:00:00  635.176007  ... -0.71424  col
2011-09-01 00:05:00  2011-09-01 00:05:00  633.860162  ... -0.71424  col
2011-09-01 00:10:00  2011-09-01 00:10:00  625.461155  ... -0.59520  col
2011-09-01 00:15:00  2011-09-01 00:15:00  622.673471  ... -0.59520  col
2011-09-01 00:20:00  2011-09-01 00:20:00  616.125880  ... -0.71424  col
...                                  ...         ...  ...      ...  ...
2011-09-30 23:35:00  2011-09-30 23:35:00  686.481673  ...  0.11904  col
2011-09-30 23:40:00  2011-09-30 23:40:00  681.445815  ... -0.11904  col
2011-09-30 23:45:00  2011-09-30 23:45:00  681.632496  ... -1.01184  col
2011-09-30 23:50:00  2011-09-30 23:50:00  677.582168  ... -0.41664  col
2011-09-30 23:55:00  2011-09-30 23:55:00  678.487305  ... -0.89280  col

[8600 rows x 10 columns]

In [25]:
SOct11_col = pd.Timestamp('2011-09-30, 23:59:00')
EOct11_col = pd.Timestamp('2011-10-31, 23:59:00')

condition_SOct11_col = df_col.index1 > SOct11_col
condition_EOct11_col = df_col.index1 < EOct11_col

Oct11_col = df_col.dropna()[ condition_SOct11_col & condition_EOct11_col]
Oct11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-10-01 00:00:00  2011-10-01 00:00:00  676.891500  ... -0.95232  col
2011-10-01 00:05:00  2011-10-01 00:05:00  675.295695  ... -1.01184  col
2011-10-01 00:10:00  2011-10-01 00:10:00  672.298314  ... -0.29760  col
2011-10-01 00:15:00  2011-10-01 00:15:00  671.769022  ...  0.29760  col
2011-10-01 00:20:00  2011-10-01 00:20:00  670.206409  ... -0.71424  col
...                                  ...         ...  ...      ...  ...
2011-10-31 23:35:00  2011-10-31 23:35:00  822.843445  ... -1.78560  col
2011-10-31 23:40:00  2011-10-31 23:40:00  820.419111  ... -2.08320  col
2011-10-31 23:45:00  2011-10-31 23:45:00  821.099760  ... -1.78560  col
2011-10-31 23:50:00  2011-10-31 23:50:00  819.309814  ... -1.36896  col
2011-10-31 23:55:00  2011-10-31 23:55:00  823.272837  ... -1.78560  col

[8291 rows x 10 columns]

In [26]:
SNov11_col = pd.Timestamp('2011-10-31, 23:59:00')
ENov11_col = pd.Timestamp('2011-11-30, 23:59:00')

condition_SNov11_col = df_col.index1 > SNov11_col
condition_ENov11_col = df_col.index1 < ENov11_col

Nov11_col = df_col.dropna()[ condition_SNov11_col & condition_ENov11_col]
Nov11_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2011-11-01 00:00:00  2011-11-01 00:00:00  820.707308  ... -2.08320  col
2011-11-01 00:05:00  2011-11-01 00:05:00  818.141780  ... -1.48800  col
2011-11-01 00:10:00  2011-11-01 00:10:00  816.581360  ... -1.66656  col
2011-11-01 00:15:00  2011-11-01 00:15:00  819.249880  ... -1.36896  col
2011-11-01 00:20:00  2011-11-01 00:20:00  819.525721  ... -1.36896  col
...                                  ...         ...  ...      ...  ...
2011-11-28 23:40:00  2011-11-28 23:40:00  673.867608  ... -2.55936  col
2011-11-28 23:45:00  2011-11-28 23:45:00  669.083191  ... -2.55936  col
2011-11-28 23:50:00  2011-11-28 23:50:00  666.985096  ... -2.44032  col
2011-11-28 23:55:00  2011-11-28 23:55:00  666.948077  ... -1.96416  col
2011-11-29 00:00:00  2011-11-29 00:00:00  666.062257  ... -1.78560  col

[7805 rows x 10 columns]

No existen datos entre Diciembre de 2011 y Febrero de 2012

In [27]:
SDic11_col = pd.Timestamp('2011-11-30, 23:59:00')
EDic11_col = pd.Timestamp('2011-12-31, 23:59:00')

condition_SDic11_col = df_col.index1 > SDic11_col
condition_EDic11_col = df_col.index1 < EDic11_col

Dic11_col = df_col.dropna()[ condition_SDic11_col & condition_EDic11_col]
Dic11_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [28]:
SJan12_col = pd.Timestamp('2011-12-31, 23:59:00')
EJan12_col = pd.Timestamp('2012-01-31, 23:59:00')

condition_SJan12_col = df_col.index1 > SJan12_col
condition_EJan12_col = df_col.index1 < EJan12_col

Jan12_col = df_col.dropna()[ condition_SJan12_col & condition_EJan12_col]
Jan12_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [29]:
SFeb12_col = pd.Timestamp('2012-01-31, 23:59:00')
EFeb12_col = pd.Timestamp('2012-02-29, 23:59:00')

condition_SFeb12_col = df_col.index1 > SFeb12_col
condition_EFeb12_col = df_col.index1 < EFeb12_col

Feb12_col = df_col.dropna()[ condition_SFeb12_col & condition_EFeb12_col]
Feb12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-02-14 00:00:00  2012-02-14 00:00:00  547.292076  ... -0.41664  col
2012-02-14 00:05:00  2012-02-14 00:05:00  547.802230  ... -0.29760  col
2012-02-14 00:10:00  2012-02-14 00:10:00  541.552246  ... -0.29760  col
2012-02-14 00:15:00  2012-02-14 00:15:00  540.684075  ... -0.11904  col
2012-02-14 00:20:00  2012-02-14 00:20:00  542.964905  ... -0.29760  col
...                                  ...         ...  ...      ...  ...
2012-02-29 23:35:00  2012-02-29 23:35:00  670.413462  ... -0.59520  col
2012-02-29 23:40:00  2012-02-29 23:40:00  666.247115  ... -0.11904  col
2012-02-29 23:45:00  2012-02-29 23:45:00  666.841526  ...  0.11904  col
2012-02-29 23:50:00  2012-02-29 23:50:00  662.278846  ...  0.00000  col
2012-02-29 23:55:00  2012-02-29 23:55:00  663.866466  ...  0.00000  col

[4608 rows x 10 columns]

In [30]:
SMar12_col = pd.Timestamp('2012-02-29, 23:59:00')
EMar12_col = pd.Timestamp('2012-03-31, 23:59:00')

condition_SMar12_col = df_col.index1 > SMar12_col
condition_EMar12_col = df_col.index1 < EMar12_col

Mar12_col = df_col.dropna()[ condition_SMar12_col & condition_EMar12_col]
Mar12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-03-01 00:00:00  2012-03-01 00:00:00  662.477318  ...  0.00000  col
2012-03-01 00:05:00  2012-03-01 00:05:00  661.088170  ... -0.11904  col
2012-03-01 00:10:00  2012-03-01 00:10:00  658.157572  ... -0.11904  col
2012-03-01 00:15:00  2012-03-01 00:15:00  658.698608  ...  0.00000  col
2012-03-01 00:20:00  2012-03-01 00:20:00  658.899902  ...  0.11904  col
...                                  ...         ...  ...      ...  ...
2012-03-31 23:35:00  2012-03-31 23:35:00  400.663361  ... -0.41664  col
2012-03-31 23:40:00  2012-03-31 23:40:00  405.238800  ... -0.29760  col
2012-03-31 23:45:00  2012-03-31 23:45:00  411.116211  ... -0.41664  col
2012-03-31 23:50:00  2012-03-31 23:50:00  405.375641  ... -0.59520  col
2012-03-31 23:55:00  2012-03-31 23:55:00  408.537079  ... -0.71424  col

[8850 rows x 10 columns]

In [31]:
SApr12_col = pd.Timestamp('2012-03-31, 23:59:00')
EApr12_col = pd.Timestamp('2012-04-30, 23:59:00')

condition_SApr12_col = df_col.index1 > SApr12_col
condition_EApr12_col = df_col.index1 < EApr12_col

Apr12_col = df_col.dropna()[ condition_SApr12_col & condition_EApr12_col]
Apr12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-04-01 00:00:00  2012-04-01 00:00:00  413.292206  ... -0.41664  col
2012-04-01 00:05:00  2012-04-01 00:05:00  418.047333  ... -0.41664  col
2012-04-01 00:10:00  2012-04-01 00:10:00  415.313232  ... -0.41664  col
2012-04-01 00:15:00  2012-04-01 00:15:00  423.084706  ... -0.71424  col
2012-04-01 00:20:00  2012-04-01 00:20:00  413.832306  ... -0.71424  col
...                                  ...         ...  ...      ...  ...
2012-04-30 23:35:00  2012-04-30 23:35:00  648.769743  ... -1.19040  col
2012-04-30 23:40:00  2012-04-30 23:40:00  648.641154  ... -1.78560  col
2012-04-30 23:45:00  2012-04-30 23:45:00  653.717660  ... -2.55936  col
2012-04-30 23:50:00  2012-04-30 23:50:00  646.543833  ... -2.85696  col
2012-04-30 23:55:00  2012-04-30 23:55:00  644.556190  ... -2.55936  col

[8591 rows x 10 columns]

In [32]:
SMay12_col = pd.Timestamp('2012-04-30, 23:59:00')
EMay12_col = pd.Timestamp('2012-05-31, 23:59:00')

condition_SMay12_col = df_col.index1 > SMay12_col
condition_EMay12_col = df_col.index1 < EMay12_col

May12_col = df_col.dropna()[ condition_SMay12_col & condition_EMay12_col]
May12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-05-01 00:00:00  2012-05-01 00:00:00  643.199936  ... -1.66656  col
2012-05-01 00:05:00  2012-05-01 00:05:00  641.843682  ... -1.19040  col
2012-05-01 00:10:00  2012-05-01 00:10:00  645.359614  ... -1.48800  col
2012-05-01 00:15:00  2012-05-01 00:15:00  645.805821  ... -1.19040  col
2012-05-01 00:20:00  2012-05-01 00:20:00  640.144979  ... -1.66656  col
...                                  ...         ...  ...      ...  ...
2012-05-31 23:35:00  2012-05-31 23:35:00  693.625186  ...  0.00000  col
2012-05-31 23:40:00  2012-05-31 23:40:00  695.211682  ...  0.00000  col
2012-05-31 23:45:00  2012-05-31 23:45:00  692.632999  ... -0.11904  col
2012-05-31 23:50:00  2012-05-31 23:50:00  689.062438  ... -0.11904  col
2012-05-31 23:55:00  2012-05-31 23:55:00  689.460193  ...  0.00000  col

[8899 rows x 10 columns]

In [33]:
SJun12_col = pd.Timestamp('2012-05-31, 23:59:00')
EJun12_col = pd.Timestamp('2012-06-30, 23:59:00')

condition_SJun12_col = df_col.index1 > SJun12_col
condition_EJun12_col = df_col.index1 < EJun12_col

Jun12_col = df_col.dropna()[ condition_SJun12_col & condition_EJun12_col]
Jun12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-06-01 00:00:00  2012-06-01 00:00:00  689.558405  ...  0.00000  col
2012-06-01 00:05:00  2012-06-01 00:05:00  689.656617  ... -0.11904  col
2012-06-01 00:10:00  2012-06-01 00:10:00  691.025024  ...  0.00000  col
2012-06-01 00:15:00  2012-06-01 00:15:00  687.008654  ... -0.11904  col
2012-06-01 00:20:00  2012-06-01 00:20:00  687.263916  ...  0.00000  col
...                                  ...         ...  ...      ...  ...
2012-06-30 23:35:00  2012-06-30 23:35:00  460.794982  ... -1.19040  col
2012-06-30 23:40:00  2012-06-30 23:40:00  465.183441  ... -0.89280  col
2012-06-30 23:45:00  2012-06-30 23:45:00  464.831190  ... -1.01184  col
2012-06-30 23:50:00  2012-06-30 23:50:00  468.478882  ... -0.89280  col
2012-06-30 23:55:00  2012-06-30 23:55:00  470.815715  ... -1.01184  col

[8015 rows x 10 columns]

In [34]:
SJul12_col = pd.Timestamp('2012-06-30, 23:59:00')
EJul12_col = pd.Timestamp('2012-07-31, 23:59:00')

condition_SJul12_col = df_col.index1 > SJul12_col
condition_EJul12_col = df_col.index1 < EJul12_col

Jul12_col = df_col.dropna()[ condition_SJul12_col & condition_EJul12_col]
Jul12_col

                               Timestamp         co2  ...        rad   gh
Timestamp                                             ...
2012-07-01 00:00:00  2012-07-01 00:00:00  469.512834  ...   -1.01184  col
2012-07-01 00:05:00  2012-07-01 00:05:00  468.209953  ...   -1.01184  col
2012-07-01 00:10:00  2012-07-01 00:10:00  463.350525  ...   -0.59520  col
2012-07-01 00:15:00  2012-07-01 00:15:00  467.321094  ...    0.41664  col
2012-07-01 00:20:00  2012-07-01 00:20:00  465.912598  ...    0.59520  col
...                                  ...         ...  ...        ...  ...
2012-07-31 06:55:00  2012-07-31 06:55:00  485.452656  ...   46.78272  col
2012-07-31 07:00:00  2012-07-31 07:00:00  484.335798  ...  108.38590  col
2012-07-31 07:05:00  2012-07-31 07:05:00  483.218941  ...  155.22810  col
2012-07-31 07:10:00  2012-07-31 07:10:00  482.102083  ...  218.49790  col
2012-07-31 07:15:00  2012-07-31 07:15:00  480.985226  ...  187.19040  col

[8672 rows x 10 columns]

In [35]:
SAug12_col = pd.Timestamp('2012-07-31, 23:59:00')
EAug12_col = pd.Timestamp('2012-08-31, 23:59:00')

condition_SAug12_col = df_col.index1 > SAug12_col
condition_EAug12_col = df_col.index1 < EAug12_col

Aug12_col = df_col.dropna()[ condition_SAug12_col & condition_EAug12_col]
Aug12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-08-01 05:15:00  2012-08-01 05:15:00  186.134850  ...  1.36896  col
2012-08-01 05:20:00  2012-08-01 05:20:00  185.017993  ...  1.48800  col
2012-08-01 05:25:00  2012-08-01 05:25:00  183.901135  ...  2.08320  col
2012-08-01 05:30:00  2012-08-01 05:30:00  182.784278  ...  3.63072  col
2012-08-01 05:35:00  2012-08-01 05:35:00  181.667420  ...  5.77344  col
...                                  ...         ...  ...      ...  ...
2012-08-31 23:35:00  2012-08-31 23:35:00  540.430482  ... -0.89280  col
2012-08-31 23:40:00  2012-08-31 23:40:00  544.121909  ... -0.89280  col
2012-08-31 23:45:00  2012-08-31 23:45:00  545.380760  ... -1.01184  col
2012-08-31 23:50:00  2012-08-31 23:50:00  543.365400  ... -0.89280  col
2012-08-31 23:55:00  2012-08-31 23:55:00  541.585292  ... -1.01184  col

[6673 rows x 10 columns]

In [36]:
SSep12_col = pd.Timestamp('2012-08-31, 23:59:00')
ESep12_col = pd.Timestamp('2012-09-30, 23:59:00')

condition_SSep12_col = df_col.index1 > SSep12_col
condition_ESep12_col = df_col.index1 < ESep12_col

Sep12_col = df_col.dropna()[ condition_SSep12_col & condition_ESep12_col]
Sep12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-09-01 00:00:00  2012-09-01 00:00:00  541.420106  ... -0.59520  col
2012-09-01 00:05:00  2012-09-01 00:05:00  541.254919  ... -0.89280  col
2012-09-01 00:10:00  2012-09-01 00:10:00  541.453056  ... -0.89280  col
2012-09-01 00:15:00  2012-09-01 00:15:00  543.944021  ... -0.71424  col
2012-09-01 00:20:00  2012-09-01 00:20:00  538.094087  ... -0.59520  col
...                                  ...         ...  ...      ...  ...
2012-09-30 23:35:00  2012-09-30 23:35:00  657.236116  ... -1.96416  col
2012-09-30 23:40:00  2012-09-30 23:40:00  658.128213  ... -2.44032  col
2012-09-30 23:45:00  2012-09-30 23:45:00  650.951354  ... -2.55936  col
2012-09-30 23:50:00  2012-09-30 23:50:00  655.572170  ... -2.44032  col
2012-09-30 23:55:00  2012-09-30 23:55:00  657.913929  ... -2.73792  col

[8634 rows x 10 columns]

In [37]:
SOct12_col = pd.Timestamp('2012-09-30, 23:59:00')
EOct12_col = pd.Timestamp('2012-10-31, 23:59:00')

condition_SOct12_col = df_col.index1 > SOct12_col
condition_EOct12_col = df_col.index1 < EOct12_col

Oct12_col = df_col.dropna()[ condition_SOct12_col & condition_EOct12_col]
Oct12_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2012-10-01 00:00:00  2012-10-01 00:00:00  658.075558  ... -2.44032  col
2012-10-01 00:05:00  2012-10-01 00:05:00  658.237188  ... -2.26176  col
2012-10-01 00:10:00  2012-10-01 00:10:00  653.261968  ... -2.26176  col
2012-10-01 00:15:00  2012-10-01 00:15:00  646.524603  ... -2.26176  col
2012-10-01 00:20:00  2012-10-01 00:20:00  649.207031  ... -1.78560  col
...                                  ...         ...  ...      ...  ...
2012-10-20 23:40:00  2012-10-20 23:40:00  833.789465  ... -0.11904  col
2012-10-20 23:45:00  2012-10-20 23:45:00  835.417222  ... -0.59520  col
2012-10-20 23:50:00  2012-10-20 23:50:00  833.468917  ...  0.00000  col
2012-10-20 23:55:00  2012-10-20 23:55:00  835.645221  ... -0.11904  col
2012-10-21 00:00:00  2012-10-21 00:00:00  835.569411  ...  0.41664  col

[5735 rows x 10 columns]

No existen datos entre Noviembre de 2012 y Marzo 2013

In [38]:
SNov12_col = pd.Timestamp('2012-10-31, 23:59:00')
ENov12_col = pd.Timestamp('2012-11-30, 23:59:00')

condition_SNov12_col = df_col.index1 > SNov12_col
condition_ENov12_col = df_col.index1 < ENov12_col

Nov12_col = df_col.dropna()[ condition_SNov12_col & condition_ENov12_col]
Nov12_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [39]:
SDic12_col = pd.Timestamp('2012-11-30, 23:59:00')
EDic12_col = pd.Timestamp('2012-12-31, 23:59:00')

condition_SDic12_col = df_col.index1 > SDic12_col
condition_EDic12_col = df_col.index1 < EDic12_col

Dic12_col = df_col.dropna()[ condition_SDic12_col & condition_EDic12_col]
Dic12_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [40]:
SJan13_col = pd.Timestamp('2012-12-31, 23:59:00')
EJan13_col = pd.Timestamp('2013-01-31, 23:59:00')

condition_SJan13_col = df_col.index1 > SJan13_col
condition_EJan13_col = df_col.index1 < EJan13_col

Jan13_col = df_col.dropna()[ condition_SJan13_col & condition_EJan13_col]
Jan13_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [41]:
SFeb13_col = pd.Timestamp('2013-01-31, 23:59:00')
EFeb13_col = pd.Timestamp('2013-02-28, 23:59:00')

condition_SFeb13_col = df_col.index1 > SFeb13_col
condition_EFeb13_col = df_col.index1 < EFeb13_col

Feb13_col = df_col.dropna()[ condition_SFeb13_col & condition_EFeb13_col]
Feb13_col

Empty DataFrame
Columns: [Timestamp, co2, temp, rh, leaft1, leaft2, trans, photo, rad, gh]
Index: []

In [42]:
SMar13_col = pd.Timestamp('2013-02-28, 23:59:00')
EMar13_col = pd.Timestamp('2013-03-31, 23:59:00')

condition_SMar13_col = df_col.index1 > SMar13_col
condition_EMar13_col = df_col.index1 < EMar13_col

Mar13_col = df_col.dropna()[ condition_SMar13_col & condition_EMar13_col]
Mar13_col

                               Timestamp         co2  ...      rad   gh
Timestamp                                             ...
2013-03-07 00:00:00  2013-03-07 00:00:00  800.998798  ... -1.59712  col
2013-03-07 00:05:00  2013-03-07 00:05:00  799.830529  ... -1.19040  col
2013-03-07 00:10:00  2013-03-07 00:10:00  790.564575  ... -0.89280  col
2013-03-07 00:15:00  2013-03-07 00:15:00  787.398438  ... -1.19040  col
2013-03-07 00:20:00  2013-03-07 00:20:00  789.572754  ... -1.48800  col
...                                  ...         ...  ...      ...  ...
2013-03-31 23:35:00  2013-03-31 23:35:00  695.001645  ...  0.41664  col
2013-03-31 23:40:00  2013-03-31 23:40:00  693.103872  ...  0.59520  col
2013-03-31 23:45:00  2013-03-31 23:45:00  693.942888  ...  0.29760  col
2013-03-31 23:50:00  2013-03-31 23:50:00  689.513519  ...  0.29760  col
2013-03-31 23:55:00  2013-03-31 23:55:00  683.174890  ...  0.29760  col

[7200 rows x 10 columns]